# Data type conversions

You can also change/convert/coerce data to different types.

In [20]:
# Define a float, an integer, and a string:
Float = 3.84
Integer = 5
String = "Text"

In [21]:
# Convert Float to integer type. Did any rounding occur here, or did something else happen? 
Float_Integer = int(Float)
print(Float_Integer)
print(type(Float_Integer))

3
<class 'int'>

In [22]:
# Convert integer to float
Integer_Float = float(Integer)
print(Integer_Float)
print(type(Integer_Float))

5.0
<class 'float'>

In [23]:
# Convert integer/float to string
Integer_String = str(Integer)
Float_String = str(Float)
print(Integer_String)
print(type(Integer_String))

# what does print() do? 
print() 

print(Float_String)
print(type(Float_String))

5
<class 'str'>

3.84
<class 'str'>

In [24]:
# What's going on here?
Float_String

'3.84'

### Math expressions on different data types

In [ ]:
# You can mix floats and integers, which will always produce a float:
print(Float + Integer)
print(type(Float + Integer))

In [ ]:
# What happens when you perform string addition?
print("Oski" + "was" + "born" + "in" + "Berkeley" + ".")

In [ ]:
# If we want spaces in string addition, we should code them.
print("Oski" + " " + "was" + " " + "born" + " " + "in" + " " + "Berkeley" + ".")

In [ ]:
# Can you mix strings and floats/integers?
print("1" + 5)

In [ ]:
# How does string addition differ from float/integer addition?
print(1 + 2)
print("1" + "2")

# Challenge 1

1. Assign three variables: 

    1) one of your full name to a variable called `name`  
    
    2) a second of the city you were born in named `city`  
    
    3) a third of the year you were born in named `year`  
    
    
2. Create a sentence using the `print()` function that states your name, where you were born, and in what year. 

3. Slice `name` to retrieve only your first name and save this in a variable named `first`. Print it.

4. Slice `name` to return only your last name and save this in a variable named `last`. Print it.

5. Define a variable named `full_name` that contains a recombination of your `first` and `last` name. Print it.

In [ ]:
## YOUR CODE HERE

# Saving your work and exiting Jupyter

When you close your Jupyter notebook window, all of your values will be lost. But you can save your code for a later time.

First, click the save disk icon in the menu bar (or click **File --> Save and checkpoint**) - a timestamp checkpoint will pop-up next to the title of your notebook.

Then, go to **File --> Close and Halt** in order to shutdown the notebook correctly. Always do this for all notebooks you have open at a given time.

### Errors

Error messages are sometimes useful and other times cryptic - but they are always frustrating. Python tries to be helpful though. Look at the cell below - Python is actually being helpful but you might not know it yet. 

The error message tells us that the error is on line 3, and the caret after the letter y in city shows us exactly where the error occurs. How might you fix this cell?

In [ ]:
name = "Oski"
city = "Berkeley"
print("Name and City:", name, city

# Getting Help

**Shift + Tab**

Python has useful help files. To quickly view a help file for a particular function, place your cursor inside of the trailing parentheses of the `print` function below and press **Shift + Tab**

In [ ]:
print()

Do not be afraid to use Google for help with a Python function! You can also try:

In [ ]:
print?

In [ ]:
help(print)

In [ ]:
# errors

# help

# Array

Lists are called arrays when they contain data of the same type, and may be preferred to lists when handling large amounts of data because they are computationally more efficient. Use your numpy library to create a "numpy array":

In [14]:
# Define a numpy array
my_array = np.array([4, 5, 6, 10])

print(my_array)
print(type(my_array))

[ 4  5  6 10]
<class 'numpy.ndarray'>

Like lists, we can change an individual value by reassigning its index:

In [15]:
my_array[0] = 42
print(my_array)

[42  5  6 10]

In [16]:
# Define an array based on a range of numbers:
number_range = np.arange(14,29)
print(number_range)

# what if I want just the third, fourth and fifth elements of "number_range"
number_range[2:5]

[14 15 16 17 18 19 20 21 22 23 24 25 26 27 28]

array([16, 17, 18])

# Tuple

Tuples are similar to lists and arrays, but they are unchangeable ("immutable"). 

For example, we cannot change the output of 10 (the dividend) divided by 3 (the divisor) - by definition the quotient is 3 and the remainder is 1 this cannot be changed.

In [17]:
div = divmod(10,3)
print(div)
print(type(div))

(3, 1)
<class 'tuple'>

# Series

Series are the pandas version of arrays - one dimensional data storage, preferably of the same type.

In [18]:
pd_series = pd.Series([1, 2, 3, 4, 5], 
                      index = ["a", "b", "c", "d", "e"])
print(pd_series)
print(type(pd_series))

a    1
b    2
c    3
d    4
e    5
dtype: int64
<class 'pandas.core.series.Series'>

# DataFrame

A pandas DataFrame is an ordered group of equal-length series/arrays. This ensures that data are of the same type within each column, but that data can be of different types across rows (think like an MS Excel spreadsheet!)

In [19]:
# Create a DataFrame using lists

# Define two lists
heroes = ["Superman", "Black Panther", "Wonder Woman", "Batman", "Storm"]
hometown = ["Krypton", "Wakanda", "Themyscira", "Gotham", "Harlem"]
age = [23, 5, 21, 82, 17]

# Create an empty DataFrame
list_df = pd.DataFrame()
print(list_df)

Empty DataFrame
Columns: []
Index: []

In [20]:
# Use the lists to define the columns
list_df["Name"] = heroes
list_df["Home"] = hometown
list_df["AGE"] = age

# View the data frame
list_df

            Name        Home  AGE
0       Superman     Krypton   23
1  Black Panther     Wakanda    5
2   Wonder Woman  Themyscira   21
3         Batman      Gotham   82
4          Storm      Harlem   17

In [21]:
print(type(list_df["AGE"]))

<class 'pandas.core.series.Series'>

In [22]:
# Using zip()

# Define our lists
day = ["Monday", "Tuesday", "Friday"]
temp = [88, 91, 67]

# Convert our two separate lists into a list of tuples
tuples = list(zip(day, temp))
tuples

pd.DataFrame(tuples, columns=["Day", "Temp"])

       Day  Temp
0   Monday    88
1  Tuesday    91
2   Friday    67

# Challenge 1: Make your own

Dictionaries can be nested, which means that dictionary keys can contain dictionaries themselves.

1. Create two dictionaries, each representing one of your favorite musical artist. Each dictionary should have the following keys / value-type: `name`: (string) , `genre`: (string), `songs` (list), `age`: (integer)

2. Create an outer dictionary called `musical_artists` that contain the two inner dictionaries.

In [31]:
## YOUR CODE HERE