# Challenge 1

1. Assign three variables: 

    1) one of your full name to a variable called `name`  
    
    2) a second of the city you were born in named `city`  
    
    3) a third of the year you were born in named `year`  
    
    
2. Create a sentence using the `print()` function that states your name, where you were born, and in what year. 

3. Slice `name` to retrieve only your first name and save this in a variable named `first`. Print it.

4. Slice `name` to return only your last name and save this in a variable named `last`. Print it.

5. Define a variable named `full_name` that contains a recombination of your `first` and `last` name. Print it.

In [ ]:
## YOUR CODE HERE

# Saving your work and exiting Jupyter

When you close your Jupyter notebook window, all of your values will be lost. But you can save your code for a later time.

First, click the save disk icon in the menu bar (or click **File --> Save and checkpoint**) - a timestamp checkpoint will pop-up next to the title of your notebook.

Then, go to **File --> Close and Halt** in order to shutdown the notebook correctly. Always do this for all notebooks you have open at a given time.

### Errors

Error messages are sometimes useful and other times cryptic - but they are always frustrating. Python tries to be helpful though. Look at the cell below - Python is actually being helpful but you might not know it yet. 

The error message tells us that the error is on line 3, and the caret after the letter y in city shows us exactly where the error occurs. How might you fix this cell?

In [ ]:
name = "Oski"
city = "Berkeley"
print("Name and City:", name, city

# Getting Help

**Shift + Tab**

Python has useful help files. To quickly view a help file for a particular function, place your cursor inside of the trailing parentheses of the `print` function below and press **Shift + Tab**

In [ ]:
print()

Do not be afraid to use Google for help with a Python function! You can also try:

In [ ]:
print?

In [ ]:
help(print)

In [ ]:
# errors

# help

# Array

Lists are called arrays when they contain data of the same type, and may be preferred to lists when handling large amounts of data because they are computationally more efficient. Use your numpy library to create a "numpy array":

In [14]:
# Define a numpy array
my_array = np.array([4, 5, 6, 10])

print(my_array)
print(type(my_array))

[ 4  5  6 10]
<class 'numpy.ndarray'>

Like lists, we can change an individual value by reassigning its index:

In [15]:
my_array[0] = 42
print(my_array)

[42  5  6 10]

In [16]:
# Define an array based on a range of numbers:
number_range = np.arange(14,29)
print(number_range)

# what if I want just the third, fourth and fifth elements of "number_range"
number_range[2:5]

[14 15 16 17 18 19 20 21 22 23 24 25 26 27 28]

array([16, 17, 18])

# Tuple

Tuples are similar to lists and arrays, but they are unchangeable ("immutable"). 

For example, we cannot change the output of 10 (the dividend) divided by 3 (the divisor) - by definition the quotient is 3 and the remainder is 1 this cannot be changed.

In [17]:
div = divmod(10,3)
print(div)
print(type(div))

(3, 1)
<class 'tuple'>

# Series

Series are the pandas version of arrays - one dimensional data storage, preferably of the same type.

In [18]:
pd_series = pd.Series([1, 2, 3, 4, 5], 
                      index = ["a", "b", "c", "d", "e"])
print(pd_series)
print(type(pd_series))

a    1
b    2
c    3
d    4
e    5
dtype: int64
<class 'pandas.core.series.Series'>

# DataFrame

A pandas DataFrame is an ordered group of equal-length series/arrays. This ensures that data are of the same type within each column, but that data can be of different types across rows (think like an MS Excel spreadsheet!)

In [19]:
# Create a DataFrame using lists

# Define two lists
heroes = ["Superman", "Black Panther", "Wonder Woman", "Batman", "Storm"]
hometown = ["Krypton", "Wakanda", "Themyscira", "Gotham", "Harlem"]
age = [23, 5, 21, 82, 17]

# Create an empty DataFrame
list_df = pd.DataFrame()
print(list_df)

Empty DataFrame
Columns: []
Index: []

In [20]:
# Use the lists to define the columns
list_df["Name"] = heroes
list_df["Home"] = hometown
list_df["AGE"] = age

# View the data frame
list_df

            Name        Home  AGE
0       Superman     Krypton   23
1  Black Panther     Wakanda    5
2   Wonder Woman  Themyscira   21
3         Batman      Gotham   82
4          Storm      Harlem   17

In [21]:
print(type(list_df["AGE"]))

<class 'pandas.core.series.Series'>

In [22]:
# Using zip()

# Define our lists
day = ["Monday", "Tuesday", "Friday"]
temp = [88, 91, 67]

# Convert our two separate lists into a list of tuples
tuples = list(zip(day, temp))
tuples

pd.DataFrame(tuples, columns=["Day", "Temp"])

       Day  Temp
0   Monday    88
1  Tuesday    91
2   Friday    67

# Challenge 1: Make your own

Dictionaries can be nested, which means that dictionary keys can contain dictionaries themselves.

1. Create two dictionaries, each representing one of your favorite musical artist. Each dictionary should have the following keys / value-type: `name`: (string) , `genre`: (string), `songs` (list), `age`: (integer)

2. Create an outer dictionary called `musical_artists` that contain the two inner dictionaries.

In [31]:
## YOUR CODE HERE

# Challenge 1

1. [Visit www.mockaroo.com](https://mockaroo.com/) and click the "Download Data" button. 

2. Import this example data into a Pandas DataFrame.

HINT: First, copy your new .csv file into your working directory!

In [ ]:
## YOUR CODE HERE

# Challenge 1

1. [Visit www.mockaroo.com](https://mockaroo.com/) and click the "Download Data" button. 

2. Import this example data into a Pandas DataFrame.

HINT: First, copy your new .csv file into your working directory!

In [ ]:
## YOUR CODE HERE

# XML

.csv files are nice when we know the structure of the data (rows and columns) that we can quickly perform operations on. However, we are limited to this format, which can be difficult to incorporate into nested, hierarchical data structures. 

[Extensible Markup Language (.xml)](https://www.sitepoint.com/really-good-introduction-xml/) is good for representing data that have a hierarchical structure. Large, web-based datasets might be stored this way, and we can use their human readable format to select tags that we want to extract for analysis. However, these data are larger than .csv files because of the opening and closing "tags". 

There are a few libraries in Python that will parse XML for you, but we'll stick to the standard `xml` library in this course. Let's start out with a simple example. Suppose we want to store the metadata for the books in our library in an XML file. It might look something like this:

In [ ]:
!cat data/example.xml

To parse this in Python, we'll need to import the `xml` library and then build the tree. From the `tree` object, we can get the root of the tree, and then traverse the tree like we would our filesystem paths.

In [ ]:
import xml.etree.ElementTree as ET # loads functions from `xml` library under the name `ET`

tree = ET.parse('data/example.xml')
root = tree.getroot()
print(ET.tostring(root))

In module 6 we'll learn how to download XML files from the Internet with GET requests. If you're getting your XML straight from a GET request, you'll have a string of xml that will look something like this:

In [ ]:
xml_string = '''
<my-library>
    <book>
        <title>The Lion, the Witch and the Wardrobe</title>
        <author>C. S. Lewis</author>
        <date>1950</date>
        <publisher>Geoffrey Bles</publisher>
    </book>
    <book>
        <title>The Hobbit</title>
        <author>J. R. R. Tolkien</author>
        <date>1937</date>
        <publisher>George Allen and Unwin</publisher>
    </book>
    <book>
        <title>To Kill A Mockingbird</title>
        <author>Harper Lee</author>
        <date>1960</date>
        <publisher>J. B. Lippincott and Co.</publisher>
    </book>
</my-library>
'''

In [ ]:
root = ET.fromstring(xml_string)
print(ET.tostring(root))

We can get the direct children of the root with the `getchildren()` method:

In [ ]:
root.getchildren()

`getchildren()` will always yield the elements subordinate to the parent element in a hierarchy. If we look at the XML string above, we can get the children of a `book` elements as well:

In [ ]:
first_book = root.getchildren()[0]
first_book.getchildren()

We can also use the `find` to quickly find an element. We'll use a for-loop to print the author for each book, which we get with the `find` method for each of the elements in the children above, and we get the text with the `text` property:

In [ ]:
for book in root:
    print(book.find('author').text)

Remember that in XML you can have elements which are usually between the two `< >` signs and can be found using the `find` or `getchildren` methods. To get the actual information, or text, from that element you can use the `.text` property.

# Challenge 1

Write some code to print the dates of publication for each book. Then modify that code to print how many years ago from today the book was written.

In [ ]:
## YOUR CODE HERE

## Wikipedia data

Let's work with a real-world dataset. We're going to work with the revision history of a Wikipedia page. You can get this through Wikipedia's [API](https://www.mediawiki.org/wiki/API:Revisions) or [download](https://en.wikipedia.org/wiki/Wikipedia:Database_download) data directly. We'll look at the API more in a later module, so we've downloaded a page of revisions and saved it to the XML file in `../data/WIKIPEDIA/feminism.xml`

In [1]:
!head data/feminism.xml

head: data/feminism.xml: No such file or directory

We can start off by parsing it like we did above with our books:

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse('data/feminism.xml')
root = tree.getroot()

At this point, you can either look in the XML in a text editor, or start the process of looking through the tree manually to find the actual metadata of each revision. You'll have to do this when we work with JSON in the next lesson, so you'll get good at it fast!

In [ ]:
root.getchildren()

In [ ]:
root.find('query').getchildren()

In [ ]:
root.find('query/pages').getchildren()

In [ ]:
root.find('query/pages/page').getchildren()

In [ ]:
root.find('query/pages/page/revisions').getchildren()

Found it! Those are the revision items we want. Let's assign that list to a variable:

In [ ]:
revisions = root.find('query/pages/page/revisions')

Now we can loop through and ask for some of the specific metadata about each revision, the `timestamp` for example:

In [ ]:
for rev in revisions.getchildren():
    print(rev.get('timestamp'))

# Challenge 2
Collect the usernames and use the [`Counter`](https://docs.python.org/3/library/collections.html#collections.Counter) method from the `collections` library, and the `most_common` method from the `Counter` object to determine who has been contributing the most to this page:

In [ ]:
## SOLUTION

## Visualizing number of edits

Now that you've organized the data, we can visualize who has been editing the most. Don't worry about understanding every line of code below, we'll cover that in our data visualization module.

In [ ]:
import pandas as pd
import matplotlib as plt
%matplotlib inline
plt.style.use('ggplot')

df = pd.DataFrame(contributions, columns=['username', 'num_edits'])
more_than_five = df[df['num_edits']>5]

# canada = gap[gap["country"] == "Canada"]

In [ ]:
more_than_five

In [ ]:
more_than_five.plot(kind='bar', rot=90, figsize = (16,6))
plt.pyplot.xticks(more_than_five.index, more_than_five.username.values);

# JSON

As a Pythonista, after dealing with XML you'll be happy to see JSON. JSON is easy because it's just a Python `dictionary`. The `json` library takes care of the few differences between the two so that we don't have to ourselves. Let's take a look at the same data about the books in our library from the XML notebook in JSON format:

In [ ]:
!cat data/example.json

In Python, it looks like a `dictionary` with a key of `my_library` and a value of a `list` of `dictionary` objects. Each of these `dictionary` objects in the list contains the metadata. We can use the `json` library to make it exactly that!

In [ ]:
import json

my_library = json.load(open('data/example.json'))
my_library

In [ ]:
print(type(my_library))

# Challenge 3

1. Index this dictionary to return just the year that "The Hobbit" was published. 
2. What other information do you remember is accessible to you through dictionaries?

In [ ]:
## YOUR CODE HERE

You will also get strings from GET requests that look liek this:

In [ ]:
json_string = '''
{"my_library": [{"title": "The Lion, the Witch and the Wardrobe",
                 "author": "C. S. Lewis",
                 "date": "1950",
                 "publisher": "Geoffrey Bles"},
                {"title": "The Hobbit",
                 "author": "J. R. R. Tolkien",
                 "date": "1937",
                 "publisher": "George Allen and Unwin"},
                {"title": "To Kill A Mockingbird",
                 "author": "Harper Lee",
                 "date": "1960",
                 "publisher": "J. B. Lippincott and Co."}
            ]
}
'''

In [ ]:
print(type(json_string))

In [ ]:
json_dict = json.loads(json_string)
json_dict
print(type(json_dict))

# Wikipedia Data

Let's go back to that revision history data. Wikipedia actually prefers that you get the data in JSON format, so we've downloaded some more data for you in JSON, it's located at `../data/WIKIPEDIA/feminism.json`:

In [ ]:
feminism_json = json.load(open('data/feminism.json'))
feminism_json[0]

In [ ]:
feminism_json[0].keys()

In [ ]:
feminism_json[0]['timestamp']

# Challenge 4
Just as in our XML notebook, let's collect the usernames and use the `Counter` method from the `collections` library, and the `most_common` method from the `Counter` object to determine who has been contributing the most to this page. Assign this `Counter` object to `contributions` so we can visualize it below. Note that this is a larger dataset, so you won't get the exact same answers as with the XML data!

In [ ]:
## YOUR CODE HERE

## Visualizing number of edits

Now that you've organized the data, we can visualize who'd been editing the most. Don't worry about understanding every line of code below, we'll cover that in our data visualization module.

In [ ]:
import pandas as pd
import matplotlib as plt
%matplotlib inline
plt.style.use('ggplot')

df = pd.DataFrame(contributions, columns=['username', 'num_edits'])
more_than_twenty = df[df['num_edits']>20]

In [ ]:
more_than_twenty.plot(kind='bar', rot=90, figsize = (14, 6), grid = True)
plt.pyplot.xticks(more_than_twenty.index, more_than_twenty.username.values);